*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.shape:first-child {
    background: linear-gradient(#86b817, #23f690);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #817d7d, #fff);
    right: -30px;
    bottom: -80px;
}

.form1 {
    height: 650px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

    .form1 * {
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
    }

    .form1 h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }

.form2 {
    margin-top: 580px;
    position: relative;
    background-color: transparent;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.btnn {
    margin-top: 40px;
    width: 80%;
    background-color: #23f690;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    line-height: 10px;
    margin-left: 32px;
}

.social {
    margin-top: 30px;
    display: flex;
}

.signin {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    gap: 0.75rem;
    color: #c4d2dc;
    background-color: #19242b;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
    margin: 20px auto;
}

    .signin:hover {
        transform: scale(1.025);
    }

    .signin:active {
        transform: scale(0.975);
    }

    .signin svg {
        height: 24px;
        width: auto;
    }

/* <reset-style> ============================ */
a {
    text-decoration: none;
}
/* <main-style> ============================ */
.menu__link {
    color: #fff;
    line-height: 2;
    position: relative;
}

    .menu__link:last-child {
        margin-left: 50px;
        position: relative;
        top: 20px;
    }

    .menu__link::before {
        content: "";
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        transition: transform 0.4s, opacity 0.4s;
        opacity: 0;
    }

    .menu__link:hover::before {
        transform: translateY(-0.25rem);
        opacity: 1;
    }
