@model travel.guideimg

@{
    Layout = "adminlayout";

}

<div class="container">
    <div class="container">
        <div style="width:100%; height:100px; background-color:transparent;">
        </div>
        <br />
        <h1>Add Guider</h1>
        <br />
        <hr />
        <div class="row">

            <div class="col-md-4">
                <form asp-action="addguide" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="GuideName" class="control-label"></label>
                        <input asp-for="GuideName" class="form-control" required />
                        <span asp-validation-for="GuideName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuideDestination" class="control-label"></label>
                        <input asp-for="GuideDestination" class="form-control" required />
                        <span asp-validation-for="GuideDestination" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GuidePhoto" class="control-label"></label>
                        <input asp-for="GuidePhoto" class="form-control" required />
                        <span asp-validation-for="GuidePhoto" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
        <br />
        <hr />
        <div>
            <a asp-action="guidelist">Back to List</a>
        </div>

    </div>
</div>



